//변수처리

//size width
$siteWidth: 1320px;

//text size
$fontSizeThin: 12px;
$fontSizeSmall:14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeSBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//background color
$layoutBg: #f0f0f0;

//font color
$fontColorBasic: #333;
$fontColorPrimary: #c80a1e;
$fontColorDarkgray : #747474;
$fontColorgray : #aaa;

//border color
$borderColorPrimary: #c80a1e;
$borderColor: #aaa;
$borderColorBottom : #eee;

//button color
$gbtnColor: #aaa;
$gbtnColorHover: #aaa;

//table bg
$tableBg: #aaa;
